Brian2==2.0.1
brian2tools==0.2.1
cycler==0.10.0
Cython==0.25.2
dpath==1.4.0
Jinja2==2.9.4
MarkupSafe==0.23
matplotlib==2.0.0
mpmath==0.19
numpy==1.12.0
py-cpuinfo==0.2.3
PyLEMS==0.4.9
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
scipy==0.18.1
setuptools-scm==1.15.0
six==1.10.0
sympy==1.0
